In [217]:
import pandas as pd
import numpy as np

In [218]:
concrete_data = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')

#### Data Cleaning Process

In [219]:
concrete_data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [220]:
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [221]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

#### Y is Strength as we need to predict it

In [222]:
concrete_data.shape

(1030, 9)

In [223]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [224]:
concrete_data_columns = concrete_data.columns

In [225]:
#X = concrete_data[concrete_data_columns[concrete_data_columns!='Strength']]
X = concrete_data.drop('Strength', axis=1)

In [226]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [227]:
y = concrete_data['Strength']

In [228]:
y.describe()

count    1030.000000
mean       35.817961
std        16.705742
min         2.330000
25%        23.710000
50%        34.445000
75%        46.135000
max        82.600000
Name: Strength, dtype: float64

## Normalize the data X

In [229]:
X_norm = ((X - X.mean()) / X.std())

In [230]:
X_norm.describe()
# Mean and Standard Deviation will be minimized

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
count,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03
mean,2.828374e-15,1.379695e-17,4.139084e-17,1.214131e-15,8.278168e-17,6.553550e-15,1.226549e-14,7.588320e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.714421e+00,-8.564718e-01,-8.467326e-01,-2.798851e+00,-1.038638e+00,-2.211064e+00,-2.239829e+00,-7.070160e-01
25%,-8.496407e-01,-8.564718e-01,-8.467326e-01,-7.805147e-01,-1.038638e+00,-5.262618e-01,-5.317114e-01,-6.120340e-01
50%,-7.911350e-02,-6.014861e-01,-8.467326e-01,1.607513e-01,3.269920e-02,-6.326279e-02,7.383152e-02,-2.795973e-01
75%,6.586406e-01,8.003558e-01,1.001791e+00,4.885554e-01,6.688058e-01,7.264077e-01,6.288606e-01,1.636517e-01
max,2.476712e+00,3.309068e+00,2.279976e+00,3.064159e+00,4.351528e+00,2.213149e+00,2.731735e+00,5.055221e+00

## Building Keras Model

In [231]:
n_cols = X_norm.shape[1] # Try printing X_norm.shape. It will give yoyu (1030,8). We just need 8. Number of columns

In [232]:
n_cols

8

In [233]:
import keras

In [234]:
from keras.models import Sequential

In [235]:
from keras.layers import Dense

In [248]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(20, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(15, activation='relu'))
    model.add(Dense(5, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [249]:
model = regression_model()

In [250]:
model.fit(X_norm, y, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 1s - loss: 1673.7900 - val_loss: 1210.6601
Epoch 2/50
 - 0s - loss: 1631.7443 - val_loss: 1177.9703
Epoch 3/50
 - 0s - loss: 1569.1149 - val_loss: 1128.7707
Epoch 4/50
 - 0s - loss: 1469.8308 - val_loss: 1051.0586
Epoch 5/50
 - 0s - loss: 1316.8231 - val_loss: 936.8368
Epoch 6/50
 - 0s - loss: 1105.4815 - val_loss: 784.2602
Epoch 7/50
 - 0s - loss: 849.2804 - val_loss: 607.6491
Epoch 8/50
 - 0s - loss: 601.0583 - val_loss: 444.3466
Epoch 9/50
 - 0s - loss: 418.1742 - val_loss: 335.7986
Epoch 10/50
 - 0s - loss: 330.1068 - val_loss: 270.9540
Epoch 11/50
 - 0s - loss: 281.9047 - val_loss: 238.4585
Epoch 12/50
 - 0s - loss: 255.0258 - val_loss: 217.7050
Epoch 13/50
 - 0s - loss: 236.5423 - val_loss: 203.2766
Epoch 14/50
 - 0s - loss: 222.5480 - val_loss: 193.7009
Epoch 15/50
 - 0s - loss: 212.2560 - val_loss: 184.9948
Epoch 16/50
 - 0s - loss: 202.8586 - val_loss: 180.3649
Epoch 17/50
 - 0s - loss: 195.4806 - val_loss: 174.9196
Epoch 18/50
 - 0s - loss: 188.5698 - val_loss: 171.4806
Epoch 19/50
 - 0s - loss: 182.8397 - val_loss: 166.3923
Epoch 20/50
 - 0s - loss: 177.2898 - val_loss: 163.2700
Epoch 21/50
 - 0s - loss: 172.4139 - val_loss: 160.0770
Epoch 22/50
 - 0s - loss: 168.5950 - val_loss: 158.4723
Epoch 23/50
 - 0s - loss: 163.2778 - val_loss: 154.2110
Epoch 24/50
 - 0s - loss: 159.0934 - val_loss: 150.3421
Epoch 25/50
 - 0s - loss: 155.4451 - val_loss: 148.7654
Epoch 26/50
 - 0s - loss: 151.3642 - val_loss: 147.6541
Epoch 27/50
 - 0s - loss: 148.2411 - val_loss: 145.7547
Epoch 28/50
 - 0s - loss: 145.5733 - val_loss: 145.3237
Epoch 29/50
 - 0s - loss: 142.0622 - val_loss: 143.4358
Epoch 30/50
 - 0s - loss: 138.2118 - val_loss: 143.0777
Epoch 31/50
 - 0s - loss: 135.5263 - val_loss: 142.6936
Epoch 32/50
 - 0s - loss: 132.9590 - val_loss: 143.9529
Epoch 33/50
 - 0s - loss: 130.3970 - val_loss: 142.5715
Epoch 34/50
 - 0s - loss: 127.9581 - val_loss: 142.2255
Epoch 35/50
 - 0s - loss: 125.2452 - val_loss: 141.5397
Epoch 36/50
 - 0s - loss: 122.9417 - val_loss: 143.2529
Epoch 37/50
 - 0s - loss: 121.0297 - val_loss: 140.8562
Epoch 38/50
 - 0s - loss: 118.6171 - val_loss: 142.6568
Epoch 39/50
 - 0s - loss: 116.7107 - val_loss: 143.2209
Epoch 40/50
 - 0s - loss: 114.7704 - val_loss: 142.1088
Epoch 41/50
 - 0s - loss: 112.8681 - val_loss: 143.3915
Epoch 42/50
 - 0s - loss: 110.6573 - val_loss: 141.6937
Epoch 43/50
 - 0s - loss: 108.9078 - val_loss: 144.0149
Epoch 44/50
 - 0s - loss: 107.1674 - val_loss: 142.9977
Epoch 45/50
 - 0s - loss: 105.3826 - val_loss: 144.1148
Epoch 46/50
 - 0s - loss: 103.5359 - val_loss: 142.1226
Epoch 47/50
 - 0s - loss: 101.6131 - val_loss: 146.0940
Epoch 48/50
 - 0s - loss: 99.7019 - val_loss: 146.4704
Epoch 49/50
 - 0s - loss: 97.7122 - val_loss: 145.4574
Epoch 50/50
 - 0s - loss: 96.3735 - val_loss: 148.7644